<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>meme</h1>
    <h3>{{user.username}}</h3>
    <br>
    <form action="{% url 'login' %}">
        <button type="submit">Войти</button>
    </form>
    <br>
    <form action="{% url 'signup' %}">
        <button type="submit">Зарегистрироваться</button>
    </form>
    <br>
    <form action="{% url 'profile' %}">
        <button type="submit">Профиль</button>
    </form>
    <br>
    <form action="{% url 'change_profile' %}">
        <button type="submit">Изменить профиль</button>
    </form>
    <br>
    <form action="{% url 'logout' %}">
        <button type="submit">Выйти</button>
    </form>
</body>
</html>