<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>meme</h1>
    <h3>{{user.username}}</h3>
    <br>
    <form action="{% url 'login' %}">
        <button type="submit">Войти</button>
    </form>
    <br>
    <form action="{% url 'logout' %}">
        <button type="submit">Выйти</button>
    </form>
    <style>
        position: absolute;
        width: 329px;
        height: 83px;

        background: #9E00FF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
    </style>
</body>
</html>